@model Phongkham.Models.Tintuc

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-container {
        background-color: rgba(255, 255, 0, 0.8); /* Màu nền của form với độ trong suốt */
        border-radius: 15px; /* Bo tròn góc của form */
        padding: 20px;
        margin-top: 50px; /* Khoảng cách giữa form và top của trang */
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Hiệu ứng bóng đổ */
    }
    .form-group {
        margin-bottom: 20px; /* Khoảng cách giữa các trường */
    }

    .btn-create {
        margin-right: 10px; /* Khoảng cách giữa nút Create và Back */
    }
</style>
<div class="container body">
    <div class="row justify-content-center">
        <div class="col-md-6 form-container">
            <h1 class="mt-4 text-center">Đăng tin tức</h1>

            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="tieude" class="control-label">Tiêu đề</label>
                    <input asp-for="tieude" class="form-control" />
                    <span asp-validation-for="tieude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Noidung" class="control-label">Nội dung</label>
                    <textarea asp-for="Noidung" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="Noidung" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NgayDang" class="control-label">Ngày Đăng</label>
                    <input asp-for="NgayDang" class="form-control" />
                    <span asp-validation-for="NgayDang" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl">Ảnh</label>
                    <input type="file" asp-for="ImageUrl" class="form-control" />
                </div>
                <div class="col-8">
                    <!-- Phần tử img sẽ mặc định ẩn và chỉ hiển thị khi có ảnh được chọn -->
                    <img src="" alt="Product Image" style="max-width:200px; display: none;" id="previewImage" />
                </div>
                <div class="form-group">
                    <label asp-for="LoaitintucId" class="control-label">Loại tin</label>
                    <select asp-for="LoaitintucId" class="form-control" asp-items="ViewBag.LoaitintucId"></select>
                    <span asp-validation-for="LoaitintucId" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <!-- Sử dụng lớp d-flex và justify-content-center để căn giữa nút -->
                    <button type="submit" class="btn btn-primary btn-create mr-2">Create</button> <!-- Sử dụng lớp mr-2 để tạo khoảng cách nhỏ giữa các nút -->
                    <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    // Xử lý sự kiện khi file được chọn
    document.querySelector('input[type="file"]').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const img = document.getElementById("previewImage");
                img.src = e.target.result;
                img.style.display = 'block'; // Hiển thị ảnh khi có ảnh được chọn
            };
            reader.readAsDataURL(file);
        } else {
            // Ẩn ảnh xem trước nếu không có file ảnh được chọn
            const img = document.getElementById("previewImage");
            img.style.display = 'none';
        }
    });
</script>