@model IEnumerable<Phongkham.Models.Tintuc>

@{
    ViewData["Title"] = "Danh sách tin tức";
    Layout = "~/Views/Shared/_LayoutDentist.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Tin Tức</h3>
            <div class="list-group">
                @if (Model != null && Model.Any())
                {
                    foreach (var tinTuc in Model)
                    {
                        <div class="list-group-item">
                            <h4>@tinTuc.tieude</h4>
                            <td><img src="@tinTuc.ImageUrl" alt="Image" style="max-width: 100px;" /></td>
                            <p>@tinTuc.Noidung</p>
                        </div>
                    }
                }
                else
                {
                    <p>Không có tin tức nào được tìm thấy.</p>
                }
            </div>
        </div>
    </div>
</div>
