.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 400px;
    max-width: 300px;
    border-radius: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 20px;
    font-size:18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slide-in 1s ease-out, fade-out 5s forwards 3s;
    display: none;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
